{
    "module": {
        "type": "commonjs"
    },
    "exclude": [
        "(.*).(spec|test).(j|t)s$"
    ],
    "jsc": {
        "baseUrl": "src",
        "paths": {

        },
        "target": "es2022",
        "parser": {
            "syntax": "typescript"
        }
    },
    "env": {
        "targets": {
            "node": 18
        }
    }
}
