{
    "module": {
        "type": "commonjs"
    },
    "exclude": [
        "(.*).(spec|test).(j|t)s$"
    ],
    "jsc": {
        "baseUrl": "src",
        "paths": {
            "@process/*": ["process/*"],
            "@utils": ["utils/index.ts"]
        },
        "target": "es2022",
        "parser": {
            "syntax": "typescript"
        }
        // we remove minify it seems to impact perf a lot x100 on foreach loop with null verification
        // ,
        // "minify": {
        //     "mangle": true,
        //     "compress": true
        // }
    },
    // "minify": true,
    "env": {
        "targets": {
            "node": 16
        }
    }
}
